<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myAppModule">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

</head>
<body ng-controller="scheduleController">
    <div class="container-fluid">
        <div class="clearfix"></div>
        <div>
            <ul class="nav nav-tabs">
                <li id="{{'li' +freqTypeE.key}}" ng-class="{active: freqTypeE.key==inputfreqTypeE}"
                    ng-repeat="freqTypeE in scheduler.freqType"><a href="#">{{freqTypeE.value}}</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="freqTypeDropdown">Event type</label>
                    <select id="freqTypeDropdown" class="form-control" data-toggle="popover" data-trigger="hover" data-content="Please select schedule type."
                        ng-model="inputfreqTypeE" ng-options="freqTypeE.key as freqTypeE.value for freqTypeE in scheduler.freqType">
                    </select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="freqIntervalWeeklyDropdown">Select day of the week</label>
                    <select id="freqIntervalWeeklyDropdown" class="form-control" data-toggle="tooltip" data-placement="right" title="Please select schedule type."
                        ng-model="inputfreqIntervalWeeklyE" ng-options="freqIntervalWeeklyE.key as freqIntervalWeeklyE.value for freqIntervalWeeklyE in scheduler.freqIntervalWeekly">
                    </select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="freqRelativeIntervalDropdown">Select (N)th day</label>
                    <select id="freqRelativeIntervalDropdown" class="form-control" data-toggle="popover" data-trigger="hover" data-content="Please select schedule type."
                        ng-model="inputfreqRelativeIntervalE" ng-options="freqRelativeIntervalE.key as freqRelativeIntervalE.value for freqRelativeIntervalE in scheduler.freqRelativeInterval">
                    </select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="freqSubdayTypeDropdown">Select time unit</label>
                    <select id="freqSubdayTypeDropdown" class="form-control" data-toggle="popover" data-trigger="hover" data-content="Please select schedule type."
                        ng-model="inputfreqSubdayTypeE" ng-options="freqSubdayTypeE.key as freqSubdayTypeE.value for freqSubdayTypeE in scheduler.freqSubdayType">
                    </select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="freqIntervalMonthlyRelativeDropdown">Select day of month</label>
                    <select id="freqIntervalMonthlyRelativeDropdown" class="form-control" data-toggle="popover" data-trigger="hover" data-content="Please select schedule type."
                        ng-model="inputfreqIntervalMonthlyRelativeE" ng-options="freqIntervalMonthlyRelativeE.key as freqIntervalMonthlyRelativeE.value for freqIntervalMonthlyRelativeE in scheduler.freqIntervalMonthlyRelative">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="checkbox-inline" ng-repeat="freqIntervalWeeklyE in scheduler.freqIntervalWeekly">
                <label class="checkbox-inline">
                    <input type="checkbox" value="{{freqIntervalWeeklyE.key}}">{{freqIntervalWeeklyE.value}}</label>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        var myapp = angular.module('myAppModule', []);

        function scheduleController($scope) {
            $scope.scheduler =
                {
                    freqType:
                        [{ key: 1, value: 'One time' }
                        , { key: 4, value: 'Daily' }
                        , { key: 8, value: 'Weekly' }
                        , { key: 16, value: 'Monthly' }
                        , { key: 32, value: 'Monthly Relative' }
                        , { key: 64, value: 'Yearly' }
                        , { key: 128, value: 'Year long' }],

                    freqIntervalWeekly:
                            [{ key: 1, value: 'Monday' }
                            , { key: 2, value: 'Tuesday' }
                            , { key: 4, value: 'Wednesday' }
                            , { key: 8, value: 'Thursday' }
                            , { key: 16, value: 'Friday' }
                            , { key: 32, value: 'Saturday' }
                            , { key: 64, value: 'Sunday' }],

                    freqRelativeInterval:
                            [{ key: 0, value: 'Not applicable' }
                            , { key: 1, value: 'First' }
                            , { key: 2, value: 'Second' }
                            , { key: 4, value: 'Third' }
                            , { key: 8, value: 'Fourth' }
                            , { key: 16, value: 'Last' }],

                    freqSubdayType:
                            [{ key: 1, value: 'At specified time' }
                            , { key: 2, value: 'Hour(s)' }
                            , { key: 4, value: 'Minute(s)' }
                            , { key: 8, value: 'Second(s)' }],

                    freqIntervalMonthlyRelative:
                            [{ key: 1, value: 'Monday' }
                            , { key: 2, value: 'Tuesday' }
                            , { key: 3, value: 'Wednesday' }
                            , { key: 4, value: 'Thursday' }
                            , { key: 5, value: 'Friday' }
                            , { key: 6, value: 'Saturday' }
                            , { key: 7, value: 'Sunday' }
                            , { key: 8, value: 'Day' }
                            , { key: 9, value: 'Weekday' }
                            , { key: 10, value: 'Weekend day' }]
                };//eof scheduler
        }

        myapp.controller('scheduleController', scheduleController);

        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({ container: 'body' });
            //$('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>
