<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="appModule">
<head>
    <title></title>	
	
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />	
</head>
<body>
    <div class="container" ng-controller="scheduleController">
        <form class="form" role="form" style="margin-top: 1em;">
            <div class="row">
                <div class="well">
                    <div class="form-group">
                        <label for="scheduleName">Please enter your schedule name here</label>
                        <input type="text" id="scheduleName" ng-model="name" class="form-control" placeholder="SCHEDULE NAME" aria-describedby="basic-addon1" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-init="freq_type=16">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active' : freq_type==1 }"><a data-toggle="tab" ng-click="freq_type=1" href="#freqType1">One time</a></li>
                        <li ng-class="{'active' : freq_type==4 }"><a data-toggle="tab" ng-click="freq_type=4" href="#freqType4">Daily</a></li>
                        <li ng-class="{'active' : freq_type==8 }"><a data-toggle="tab" ng-click="freq_type=8" href="#freqType8">Weekly</a></li>
                        <li ng-class="{'active' : freq_type==16 }"><a data-toggle="tab" ng-click="freq_type=16" href="#freqType16">Monthly</a></li>
                        <li ng-class="{'active' : freq_type==32 }"><a data-toggle="tab" ng-click="freq_type=32" href="#freqType32">Monthly Relative</a></li>
                        <li ng-class="{'active' : freq_type==64 }"><a data-toggle="tab" ng-click="freq_type=64" href="#freqType64">Yearly</a></li>
                        <li ng-class="{'active' : freq_type==128 }"><a data-toggle="tab" ng-click="freq_type=128" href="#freqType128">Year long</a></li>
                    </ul>
                    <div class="tab-content">
						<!-- One time schedule -->
                        <div class="tab-pane" ng-class="{'active' : freq_type==1 }" id="freqType1">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <one-time-only></one-time-only>
                                </div>
                            </div>
                        </div>
						<!-- Daily schedule -->
                        <div class="tab-pane" ng-class="{'active' : freq_type==4 }" id="freqType4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <daily-schedule></daily-schedule>
                                </div>
                            </div>
                        </div>
						<!-- Weekly schedule -->
                        <div class="tab-pane" ng-class="{'active' : freq_type==8 }" id="freqType8">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <weekly-schedule></weekly-schedule>
                                </div>
                            </div>
                        </div>
						<!-- Monthly schedule -->
                        <div class="tab-pane" ng-class="{'active' : freq_type==16 }" id="freqType16">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <monthly-schedule></monthly-schedule>
                                </div>
                            </div>
                        </div>
						<!-- Monthly relative schedule -->
                        <div class="tab-pane" ng-class="{'active' : freq_type==32 }" id="freqType32">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <monthly-relative-schedule></monthly-relative-schedule>
                                </div>
                            </div>
                        </div>
						<!-- Yearly schedule -->
                        <div class="tab-pane" ng-class="{'active' : freq_type==64 }" id="freqType64">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <yearly-schedule></yearly-schedule>
                                </div>
                            </div>
                        </div>
						<!-- Year long schedule -->
                        <div class="tab-pane" ng-class="{'active' : freq_type==128 }" id="freqType128">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <year-long-schedule></year-long-schedule>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="durationNumber">Duration</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="number" ng-model="duration_interval" id="durationNumber" class="form-control" placeholder="Duration" min="0" max="100" />
                        </div>
                        <div class="col-lg-6">
                            <select id="durationUnit" class="form-control" data-toggle="popover" data-trigger="hover"
                                ng-model="duration_subday_type" ng-options="f.key as f.value for f in scheduler.freqSubdayType">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="well">
                    {{description}}
                </div>
            </div>
        </form>
    </div>
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="Scripts/angular.min.js"></script>-->
    <script src="app/app.js"></script>
    <script src="app/controller/scheduleController.js"></script>

    <!--    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({ container: 'body' });
        });
    </script>-->
</body>
</html>
