<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="0.13.0" targetFramework="net451" />
  <package id="AngularJS.Core" version="1.4.1" targetFramework="net451" />
  <package id="Bower" version="1.3.11" targetFramework="net451" />
  <package id="Node.js" version="0.10.36" targetFramework="net451" />
  <package id="NoGit" version="0.0.9" targetFramework="net451" />
</packages>