<div class="row">
    <div class="col-lg-12">
        <div class="form-group form-inline">
            <div>
                <label class="control-label" for="recurrEvery">{{nthDay}} DAY OF EVERY</label>
                <label class="control-label" for="recurrEvery">{{mthmonth}} MONTH(S)</label>
                <input id="recurrEvery" name="date" class="form-control text-uppercase" ng-model="nthDay" placeholder="DAY" type="number" min="1" max="31" />
                <input id="recurrEvery" name="date" class="form-control text-uppercase" ng-model="mthmonth" placeholder="MONTH" type="number" min="1" max="60" />
            </div>
        </div>
    </div>
</div>
<Frequency-Schedule></Frequency-Schedule>
