<!--
active_start_date
active_start_time
-->

<div class="col-lg-6">
    <div class="form-group">
        <div>
            <label class="control-label" for="date">START AT
			<span am-time-ago="message.time"></span>
			</label>
            <input name="date" class="form-control text-uppercase" type="date" ng-model="schedule.active_start_date">
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="form-group">
        <div>
            <label class="control-label" for="time">TIME</label>
            <input name="time" class="form-control text-uppercase" type="time" ng-model="schedule.active_start_time">			
        </div>
    </div>
</div>
