<div class=col-lg-12>
	<div class="row">
		<div>
			<div class="form-group">
				<label for="scheduleName">Please enter a schedule name</label>
				<input type="text" id="scheduleName" ng-model="schedule.name" class="form-control" placeholder="SCHEDULE NAME" aria-describedby="basic-addon1" />
			</div>
		</div>
	</div>			
	<div class="row">
		<div ng-init="freq_type=16">
			<ul class="nav nav-tabs">
				<li ng-class="{'active' : schedule.freq_type==1 }">
					<a data-toggle="tab" ng-click="schedule.freq_type=1" href="#freqType1">One time</a>
				</li>
				<li ng-class="{'active' : schedule.freq_type==4 }">
					<a data-toggle="tab" ng-click="schedule.freq_type=4" href="#freqType4">Daily</a>
				</li>
				<li ng-class="{'active' : schedule.freq_type==8 }">
					<a data-toggle="tab" ng-click="schedule.freq_type=8" href="#freqType8">Weekly</a>
				</li>
				<li ng-class="{'active' : schedule.freq_type==16 }">
					<a data-toggle="tab" ng-click="schedule.freq_type=16" href="#freqType16">Monthly</a>
				</li>
				<li ng-class="{'active' : schedule.freq_type==32 }">
					<a data-toggle="tab" ng-click="schedule.freq_type=32" href="#freqType32">Monthly Relative</a>
				</li>
				
				<li ng-class="{'active' : schedule.freq_type==64 }" ng-hide="true">
					<a data-toggle="tab" ng-click="schedule.freq_type=64" href="#freqType64">Yearly</a>
				</li>
				<li ng-class="{'active' : schedule.freq_type==128 }" ng-hide="true">
					<a data-toggle="tab" ng-click="schedule.freq_type=128" href="#freqType128">Year long</a>
				</li>
				
			</ul>
			<div class="tab-content">
				<!-- One time schedule -->
				<div class="tab-pane" ng-class="{'active' : schedule.freq_type==1 }" id="freqType1">
					<div class="panel panel-default">
						<div class="panel-body">
							<one-time-only/>
						</div>
					</div>
				</div>
				<!-- Daily schedule -->
				<div class="tab-pane" ng-class="{'active' : schedule.freq_type==4 }" id="freqType4">
					<div class="panel panel-default">
						<div class="panel-body">
							<daily-schedule/>
						</div>
					</div>
				</div>
				<!-- Weekly schedule -->
				<div class="tab-pane" ng-class="{'active' : schedule.freq_type==8 }" id="freqType8">
					<div class="panel panel-default">
						<div class="panel-body">
							<weekly-schedule/>
						</div>
					</div>
				</div>
				<!-- Monthly schedule -->
				<div class="tab-pane" ng-class="{'active' : schedule.freq_type==16 }" id="freqType16">
					<div class="panel panel-default">
						<div class="panel-body">
							<monthly-schedule/>
						</div>
					</div>
				</div>
				<!-- Monthly relative schedule -->
				<div class="tab-pane" ng-class="{'active' : schedule.freq_type==32 }" id="freqType32">
					<div class="panel panel-default">
						<div class="panel-body">
							<monthly-relative-schedule/>
						</div>
					</div>
				</div>
				<!-- Yearly schedule -->
				<div class="tab-pane" ng-class="{'active' : schedule.freq_type==64 }" id="freqType64">
					<div class="panel panel-default">
						<div class="panel-body">
							<yearly-schedule/>
						</div>
					</div>
				</div>
				<!-- Year long schedule -->
				<div class="tab-pane" ng-class="{'active' : schedule.freq_type==128 }" id="freqType128">
					<div class="panel panel-default">
						<div class="panel-body">
							<year-long-schedule/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="row">
				<div class="col-lg-12">
					<label for="durationNumber">Duration</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<input type="number" ng-model="schedule.duration_interval" id="durationNumber" class="form-control" placeholder="Duration" min="0" max="100" />
				</div>
				<div class="col-lg-6">
					<select id="durationUnit" class="form-control" data-toggle="popover" data-trigger="hover"
                                ng-model="schedule.duration_subday_type" ng-options="f.key as f.value for f in scheduler.freqSubdayType">
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="well">
                    {{schedule.description}}
		</div>
	</div>		
	<div class="row">
		<input type="submit" ng-click="generateEventsClick()"/> 
	</div>
	<div class="row">
		<ul class="nav nav-tabs" ng-repeat="e in events">
			<li>			
				<strong>Start:</strong>{{e.start.toLocaleString()}}<strong>End:</strong>{{e.end.toLocaleString()}}
			</li>
		</ul>	
	</div>
</div>

<div class="col-lg-4" ng-hide="true">
	<div>
		<pre>{{schedule | json}}</pre>
	</div>
</div>
