<!-- 
freq_recurrence_factor 
scheduler.freqIntervalWeekly
-->

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div>
                <label class="control-label" for="recurrEvery">RECURS EVERY {{schedule.freq_recurrence_factor}} WEEK(S)</label>
                <input id="recurrEvery" name="date" class="form-control text-uppercase" ng-model="schedule.freq_recurrence_factor" 
					placeholder="WEEK(S)" type="number" min="1" max="100" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group form-inline">
            <strong>ON</strong>

            <div class="checkbox-inline" ng-repeat="freqIntervalWeeklyE in scheduler.freqIntervalWeekly">
				<label class="checkbox-inline">				
                    <input type="checkbox" value="{{freqIntervalWeeklyE.key}}" 						
						ng-click="checkboxChanged(freqIntervalWeeklyE.key, $index)">{{freqIntervalWeeklyE.value}}
                </label>
            </div>
        </div>
    </div>
</div>
<Frequency-Schedule></Frequency-Schedule>